<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
            crossorigin="anonymous"
    />
</head>
<!--<body>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">CS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">หน้าหลัก</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/books/donation}">เอกสารบริจาค</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/books/lending}">เอกสารยืมคืน</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() and (hasAuthority('ADMIN') or hasAuthority('LENDER'))">
                    <a class="nav-link" th:href="@{/books/add}">เพิ่มเอกสาร</a>
                </li>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">สวัสดี <b><span sec:authentication="name"></span></b></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{/logout}">ออกจากระบบ</a>
                    </li>
                </ul>
            </div>

            <div sec:authorize="isAnonymous()">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-primary" th:href="@{/login}">เข้าสู่ระบบ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
    function menuToggle() {
        const toggleMenu = document.querySelector(".menu");
        toggleMenu.classList.toggle("active");
    }
</script>
</html>