<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CS Project</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <h1 class="display-5">Book Donation</h1>
    <ul class="list-group" th:each="book : ${books}">
        <li class="list-group-item" ><p th:text="${book.getBookName()}"></p></li>
    </ul>
</div>
</body>
</html>