<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Project</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/customs/card.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/07c019ece4.js" crossorigin="anonymous"></script>
    <style>
        button {
            padding: 5px;
            background: #FFFFFF;
            border: 0;
        }
    </style>
</head>
<body>
<div class="sticky-top" th:insert="~{fragments/header :: header}"></div>
<div class="container">
    <h1 class="display-5">เอกสารบริจาค</h1>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4" th:each="book : ${books}">
            <div class="card">
                <img class="card-img-top" th:src="@{${'../uploads/' + book.getBookImagePath()}}" alt="book image">
                <div class="card-body">
                    <p class="card-title" th:text="${'ชื่อเอกสาร: ' + (book.getBookName().length > 20 ? book.getBookName().substring(0, 20) + '...' : book.getBookName())}"></p>
                    <div class="row">
                        <div class="col-6">
                            <form>
                                <button class="btn btn-outline-secondary btn-block" type="button" data-bs-toggle="modal"
                                        th:data-bs-target="'#detailsModal-' + ${book.getBookId()}">รายละเอียด
                                </button>
                            </form>
                            <!-- Modal -->
                            <div class="modal fade" th:id="'detailsModal-' + ${book.getBookId()}" tabindex="-1"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">รายละเอียดเอกสาร</h5>
                                            <form th:action="@{/books/reportBook}" method="POST">
                                                <button type="button"
                                                        data-bs-dismiss="modal"
                                                        th:data-book-id="${book.getBookId()}"
                                                        onclick="reportBook(this)">
                                                    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
                                                    <!--                                                    <img src="https://media.istockphoto.com/id/1163581975/vector/warning-danger-sign-triangle-frame-yellow-and-black-color-background.jpg?s=612x612&w=0&k=20&c=UsONAgKo9RG5MbkNFUgTNMP06oMh_ibBHjzgGaBhOpI=" alt="buttonpng"/>-->
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img class="card-img-top"
                                                             th:src="@{'../uploads/' + ${book.getBookImagePath()}}"
                                                             alt="book image">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <p class="fw-bold">ชื่อเอกสาร:</p>
                                                        <p th:text="${book.getBookName()}"></p>
                                                        <p class="fw-bold">รายละเอียด:</p>
                                                        <p th:text="${book.getBookDes()}"></p>
                                                        <!--                                                        <p class="fw-bold">ติดต่อ:</p>-->
                                                        <!--                                                        <p th:text="${'โทร: ' + book.owner.getTelephoneNumber()}"></p>-->
                                                        <div class="lineId">
                                                            <p>
                                                                <a th:href="'https://line.me/ti/p/~'+${book.owner.getLineId()}"
                                                                   target="_blank" class="button-link">ติดต่อ</a>
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <form th:action="@{/books/acceptDonation}" method="POST">
                                <button class="btn btn-primary btn-block" type="button" th:data-book-id="${book.getBookId()}" onclick="confirmDonation(this)">รับ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function confirmDonation(button) {
        var bookId = button.getAttribute('data-book-id');
        var form = button.closest('form');
        var input = document.createElement('input');
        input.type = 'hidden'
        input.name = 'bookId'
        input.value = bookId;
        form.appendChild(input);

        Swal.fire({
            title: "คุณแน่ใจหรือไม่ที่ต้องการรับเอกสาร?",
            showCancelButton: true,
            cancelButtonText: "ยกเลิก",
            reverseButtons: true,
            confirmButtonText: "ยืนยัน",
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });
    }

    async function reportBook(button) {
        var bookId = button.getAttribute('data-book-id');
        // var userId = button.getAttribute('data-user-id');

        var form = button.closest('form');
        var input = document.createElement('input');
        input.type = 'hidden'
        input.name = 'bookId'
        input.value = bookId;
        form.appendChild(input);
        // input.type = 'hidden'
        // input.name = 'userId'
        // input.value = userId;
        // form.appendChild(input);

        const { value: text } = await Swal.fire({
            input: "textarea",
            inputLabel: "รายงานเอกสาร",
            inputPlaceholder: "ใส่เหตุผลการรายงาน...",
            inputAttributes: {
                "aria-label": "Type your message here"
            },
            showCancelButton: true
        });
        if (text) {
            Swal.fire({
                title: "คุณแน่ใจหรือไม่ที่ต้องการรายงานเอกสารนี้?",
                showCancelButton: true,
                cancelButtonText: "ยกเลิก",
                reverseButtons: true,
                confirmButtonText: "ยืนยัน",
            }).then((result) => {
                if (result.isConfirmed) {
                    var input = document.createElement('input');
                    input.type = 'hidden'
                    input.name = 'reportDetail'
                    input.value = text;
                    form.appendChild(input);
                    form.submit();
                }
            });
        }
    }

</script>
</body>
</html>