<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Project</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        h1 {text-align: center;}
    </style>
</head>
<body>
<div class="w-auto container">
    <h1 style="color:blue;">นโยบายความเป็นส่วนตัว</h1>
    <h3>1. ข้อมูลส่วนบุคคลที่เราเก็บ</h3>
    <p>ระบบจะเก็บรวบรวมข้อมูลส่วนบุคคลที่ท่านได้กรอกเข้ามา โดยมีวัตถุประสงค์ ขอบเขตและใช้วิธีการที่ชอบด้วยกฎหมาย ข้อมูลส่วนบุคคลทั้งหมดต้องถูกให้ความยินยอมจากเจ้าของข้อมูลส่วนบุคคลนั้นแล้ว โดยในการเก็บนั้นจะทำเพียงเท่าที่จำเป็นแก่การดำเนินงานภายใต้วัตถุประสงค์ของระบบ ทั้งนี้ทางเราจะดำเนินการให้เจ้าของข้อมูลรับรู้ให้ความยินยอมทางอิเล็กทรอนิกส์
        ระบบอาจมีการเก็บข้อมูลเพิ่มหลังจากที่ท่านได้มีการทำธุรกรรม ทั้งในรูปแบบบุคคลและนิติบุคคลเพื่อสนันสนุนการใช้งานและประสบการณ์ของท่านให้ดีที่สุด</p>

    <h3>2. การประมวลผลข้อมูลส่วนบุคคล</h3>
    <p>เราจะประมวลผลข้อมูลส่วนบุคคลของคุณเพื่อให้บริการตามที่ท่านสมัคร ร้องขอ และ เพื่อการให้บริการที่มีประสิทธิภาพสูงสุด โดยข้อมูลของท่านเราจะนำไปใช้เพื่อวัตถุประสงค์ดังต่อไปนี้
        ก. เพื่อสร้างและจัดการบัญชีผู้ใช้งาน
        ข. เพื่อใช้ในการติดต่อระหว่างผู้ใช้
        ค. เพื่อป้องกันการทำผิษจริยธรรม
        ง. เพื่อปฏิบัติตามข้อตกลงและเงื่อนไข (Terms and Conditions)
        จ. เพื่อปฏิบัติตามกฎหมายและกฎระเบียบของหน่วยงานราชการ</p>

    <h3>3. วิธีการเก็บรักษาข้อมูลส่วนบุคคลและความปลอดภัย</h3>
    <p>เราจะรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคลของท่านไว้ตามหลักการการรักษาความลับ ความถูกต้องครบถ้วน และสภาพพร้อมใช้งาน เพื่อป้องกันการสูญหาย เข้าถึง ใช้ เปลี่ยนแปลง แก้ไข หรือเปิดเผย นอกจากนี้เราจะจัดให้มีมาตรการรักษาความมั่นคงปลอดภัยของข้อมูลส่วนบุคคล ซึ่งครอบคลุมถึงมาตรการป้องกันด้านการบริหารจัดการ มาตรการป้องกันด้านเทคนิค และมาตรการป้องกันทางกายภาพ ในเรื่องการเข้าถึงหรือควบคุมการใช้งานข้อมูลส่วนบุคคล</p>

    <h3>4. การเปิดเผยข้อมูลส่วนบุคคล</h3>
    <p>บริษัทอาจเปิดเผยข้อมูลส่วนบุคคลของคุณให้แก่ผู้อื่นภายใต้ความยินยอมของคุณหรือที่กฎหมายอนุญาตให้เปิดเผยได้และอาจเปิดเผยข้อมูลส่วนบุคคลของคุณภายในบริษัทเท่าที่จำเป็น เพื่อวัตถุประสงค์ในการปรับปรุงพัฒนาสินค้าหรือบริการที่ตอบสนองความต้องการของคุณ รวมไปถึงการนำเสนอ การประชาสัมพันธ์สินค้า บริการ และกิจกรรมที่เกี่ยวข้องทางการตลาด และบริษัทอาจรวบรวมข้อมูลภายในสำหรับสินค้าหรือบริการต่าง ๆ ภายใต้นโยบายนี้เพื่อประโยชน์ของคุณและผู้อื่นมากขึ้น</p>

    <h3>5. สิทธิของเจ้าของข้อมูลส่วนบุคคล</h3>
    <p>ก. การเพิกถอนความยินยอม : ท่านมีสิทธิที่จะเพิกถอนความยินยอมของท่านในการจัดเก็บ ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของท่านได้ โดยสามารถติดต่อเจ้าหน้าที่ ผ่าน Email : contact@docshare.com<br>
        ข. การขอเข้าถึงข้อมูลส่วนบุคคล : ท่านสามารถขอเข้าถึง ขอรับสำเนาข้อมูลส่วนบุคคลของท่าน หรือขอให้เปิดเผยการได้มาซึ่งข้อมูลส่วนบุคคล<br>
        ค. การคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล : ท่านมีสิทธิคัดค้านการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลเกี่ยวกับท่าน<br>
        ง. การขอลบ หรือเปลี่ยนแปลงสถานะข้อมูลส่วนบุคคล : ท่านสามารถขอให้ลบหรือทำลาย หรือทำให้ข้อมูลส่วนบุคคลของท่านกลายเป็นข้อมูลที่ไม่ระบุตัวบุคคล<br>
        จ. การขอให้ระงับการประมวลผลข้อมูลส่วนบุคคล : ท่านสามารถขอให้บริษัทระงับการประมวลผลข้อมูลส่วนบุคคลของท่านทั้งหมด หรือบางส่วน เป็นการชั่วคราวหรือถาวร<br>
        ฉ. การแก้ไขข้อมูลส่วนบุคคลให้ถูกต้อง : ท่านสามารถขอแก้ไข หรือเปลี่ยนแปลงข้อมูลส่วนบุคคลของท่าน ในกรณีที่ข้อมูลส่วนบุคคลของท่านไม่ถูกต้องตามความเป็นจริง และทำให้ข้อมูลเป็นปัจจุบัน<br>
        ช. การร้องเรียน : ท่านมีสิทธิร้องเรียนต่อหน่วยงานของรัฐที่เกี่ยวข้อง ในกรณีที่ท่านเชื่อว่าการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของบริษัทนั้นฝ่าฝืนหรือไม่ปฏิบัติตามพ.ร.บ.คุ้มครองข้อมูลส่วนบุคคล พ.ศ. 2562</p>

    <h3>6. รายละเอียดการติดต่อ</h3>
    <p>หากท่านต้องการสอบถามข้อมูลเกี่ยวกับนโยบายความเป็นส่วนตัวฉบับนี้ รวมถึงการขอใช้สิทธิต่าง ๆ ท่านสามารถติดต่อเราหรือเจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเราได้ ดังนี้
        อีเมล : contact@docshare.com</p>
</div>


</body>
</html>